
.search-page-container {
    height: 100%;
}

.search-page-cta-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-page-sort-cta {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #a23dae;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #300d38;
        color: #fff;
    }
}
.search-page-cta {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #a23dae;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;

    &:hover {
        background-color: #300d38;
        color: #fff;
    }
}